.auth-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .auth-form > :not(:last-child) {
    margin-bottom: 25px;
  }
  
  .auth-link {
    display: block;
    color: #726df8;
  }
  
  .auth-link:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .error {
    display: none;
    color: red;
  }
  
  .show-error {
    display: block;
  }